<html>
<head>
  <title>9.5 Templating in Sinatra</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>9.5 Templating in Sinatra</h1>
  <form action="/campus" method="POST">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Save</button>
  </form>



  

</body>
</html>